@page "{uln}"
@model LearnerModel
@{
    ViewData["Title"] = "Learner report";
}

@section BreadCrumbs {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a asp-page="index" class="govuk-breadcrumbs__link">Identify data locks</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a asp-page="start" class="govuk-breadcrumbs__link">Search learner</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Learner report
            </li>
        </ol>
    </div>
}

<div class="govuk-grid-row ">
    <!-- left col -->
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">Data locks</span>
        <h1 class="govuk-heading-l">@Model.LearnerName</h1>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Active Data lock(s)
                </dt>
                <dd class="govuk-summary-list__value">
                    @if(Model.DataLockLinks.Count() == 1)
                    {
                        var l = Model.DataLockLinks.First();
                        <span>@l.Name - <a href="@l.Url">@l.Description</a></span><br />
                    }
                    else
                    {
                        <ul>
                            @foreach (var l in Model.DataLockLinks)
                            {
                                <li>@l.Name - <a href="@l.Url">@l.Description</a></li>
                            }
                        </ul>
                    }
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Apprentice
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@Model.LearnerName</p>
                    <p class="govuk-body">ULN: @Model.Uln</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Current employer
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@Model.EmployerName</p>
                    <p class="govuk-body">Account ID:  @Model.EmployerId</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Current provider
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@Model.ProviderName</p>
                    <p class="govuk-body">UKPRN : @Model.ProviderId</p>
                </dd>
            </div>
        </dl>
    </div>
    <!-- END left col -->
    <!-- right col -->
    <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Tools and services
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="https://submitlearnerdatabeta.fasst.org.uk/">
                            Submit learner data
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="https://console.apprenticeships.education.gov.uk/">
                            Support Console
                        </a>
                    </li>
                </ul>
            </nav>

            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/how-to-fix-apprenticeship-service-data-mismatches/how-to-fix-apprenticeship-service-data-mismatches">
                            How to fix apprenticeship service data mismatches
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="https://www.gov.uk/guidance/apprenticeship-funding-rules">
                            Funding rules
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/ilr-guides-and-templates-for-2019-to-2020">
                            Provider Support Manual
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
    <!-- END right col -->
</div>

<div class="govuk-grid-row dunlocker">
    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l govuk-!-margin-top-7">Active Data Locks</h2>

        <div class="govuk-!-margin-top-7">
            <div asp-hide="Model.HasDataLocks" class="funding-year">
                <p class="">There are currently no active data locks for this learner</p>
            </div>
            <div asp-show="Model.HasDataLocks" class="funding-year">
                <h2 class="govuk-heading-m">@Model.AcademicYears.Current.ToString() funding year</h2>
                <p asp-hide="Model.HasDataLocksInCurrentYear">There are currently no submissions for this period</p>
                <div asp-show="Model.HasDataLocksInCurrentYear" class="returns">
                    @foreach (var period in Model.CurrentYearDataLocks)
                    {
                        <div class="entry">
                            <div class="rnumb govuk-heading-m">@period.Period</div>
                            <div class="rcontent">
                                @foreach (var dlock in period.DataLocks)
                                {
                                    <p class="govuk-body govuk-!-font-weight-bold thelock">@dlock</p>
                                }

                                <details class="govuk-details flag" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text" style="color: #d4351c;">
                                            View data mismatches
                                        </span>
                                    </summary>
                                    <div class="">
                                        <table class="govuk-table govuk-!-margin-top-7">
                                            <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">

                                                    <th scope="col" class="govuk-table__header"></th>
                                                    <th scope="col" class="govuk-table__header">Apprenticeship Service</th>
                                                    <th scope="col" class="govuk-table__header">ILR submission</th>
                                                    <th scope="col" class="govuk-table__header">Data lock</th>
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">

                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock01, "UKPRN", x => x.Ukprn)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock02, "ULN", x => x.Uln)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock03, "Standard code", x => x.Standard)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock04, "Framework code", x => x.Framework)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock05, "Program type", x => x.Program)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock06, "Pathway code", x => x.Pathway)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock07, "Cost", x => x.Cost)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock09, "Start date", x => x.PriceStart)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock12, "Pause date", x => x.PausedOn)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock10, "Stop date" , x=> x.StoppedOn)' />

                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "Planned completion date", x => x.PlannedCompletion)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "Completion status", x => x.CompletionStatus)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "TNP 1", x => x.Tnp1)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "TNP 2", x => x.Tnp2)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "TNP 3", x => x.Tnp3)' />
                                                <partial name="_DataLockRow" model=' new DataLockRowModel(period, "TNP 4" , x=> x.Tnp4)' />

                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">No. of View submission details per return</th>
                                                    <td class="govuk-table__cell">2</td>
                                                    <td class="govuk-table__cell">2</td>
                                                    <td class="govuk-table__cell">-</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </details>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div asp-show="Model.HasDataLocks" class="funding-year">
                <h2 class="govuk-heading-m">@Model.AcademicYears.Previous.ToString() funding year</h2>
                <p asp-hide="Model.HasDataLocksInPreviousYear">There are currently no submissions for this period</p>
                <div asp-show="Model.HasDataLocksInPreviousYear" class="returns">
                    @foreach (var period in Model.PreviousYearDataLocks)
                    {
                        <div class="entry">
                            <div class="rnumb govuk-heading-m">@period.Period</div>
                            <div class="rcontent">
                                @foreach (var dlock in period.DataLocks)
                                {
                                    <p class="govuk-body govuk-!-font-weight-bold thelock">@dlock</p>
                                }

                                <details class="govuk-details flag" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text" style="color: #d4351c;">
                                            View data mismatches
                                        </span>
                                    </summary>
                                    <div class="">


                                        <table class="govuk-table govuk-!-margin-top-7">
                                            <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">

                                                    <th scope="col" class="govuk-table__header"></th>
                                                    <th scope="col" class="govuk-table__header">Apprenticeship Service</th>
                                                    <th scope="col" class="govuk-table__header">ILR submission</th>
                                                    <th scope="col" class="govuk-table__header">Data lock</th>
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">

                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock01, "UKPRN", x => x.Ukprn)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock01, "UKPRN", x => x.Ukprn)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock02, "ULN", x => x.Uln)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock03, "Standard code", x => x.Standard)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock04, "Framework code", x => x.Framework)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock05, "Program type", x => x.Program)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock06, "Pathway code", x => x.Pathway)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock07, "Cost", x => x.Cost)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock09, "Start date", x => x.PriceStart)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock12, "Pause date", x => x.PausedOn)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, Domain.DataLock.Dlock10, "Stop date" , x=> x.StoppedOn)' />

                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "Planned completion date", x => x.PlannedCompletion)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "Completion status", x => x.CompletionStatus)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "TNP 1", x => x.Tnp1)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "TNP 2", x => x.Tnp2)' />
                                                <partial name="_DataLockRow" model='new DataLockRowModel(period, "TNP 3", x => x.Tnp3)' />
                                                <partial name="_DataLockRow" model=' new DataLockRowModel(period, "TNP 4" , x=> x.Tnp4)' />


                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">No. of View submission details per return</th>
                                                    <td class="govuk-table__cell">2</td>
                                                    <td class="govuk-table__cell">2</td>
                                                    <td class="govuk-table__cell">-</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </details>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


