@model _DataLockRowModel

@{
    var cssClass = Model.IsLocked ? "data-locked" : null;
}

<tr class="govuk-table__row @cssClass" : null">
    <th scope="row" class="govuk-table__header">@Model.Heading</th>
    <td class="govuk-table__cell">@Model.ApprenticeValue</td>
    <td class="govuk-table__cell">@Model.IlrValue</td>
    <td class="govuk-table__cell">@Model.ActiveDataLock</td>
</tr>