@page "{uln}"
@model LearnerModel
@{
}

@section BreadCrumbs {
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a asp-page="index" class="govuk-breadcrumbs__link">Data Unlocker</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a asp-page="start" class="govuk-breadcrumbs__link">Search learner</a>
            </li>
            <li class="govuk-breadcrumbs__list-item" aria-current="page">
                Learner report
            </li>
        </ol>
    </div>
}


<div class="govuk-grid-row ">

    <!-- left col -->
    <div class="govuk-grid-column-two-thirds">


        <span class="govuk-caption-l">Data locks</span>
        <h1 class="govuk-heading-l">@Model.LearnerName</h1>


        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Active Data lock(s)
                </dt>
                <dd class="govuk-summary-list__value">
                    @foreach (var l in Model.DataLockLinks)
                    {
                        <span>@l.Name - <a href="@l.Url">@l.Description</a></span><br />
                    }
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Apprentice
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@Model.LearnerName</p>
                    <p class="govuk-body">ULN: @Model.Uln</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Current employer
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@Model.EmployerName</p>
                    <p class="govuk-body">Account ID:  @Model.EmployerId</p>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Current provider
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">@Model.ProviderName</p>
                    <p class="govuk-body">UKPRN : @Model.ProviderId</p>
                </dd>
            </div>
        </dl>


    </div>
    <!-- END left col -->
    <!-- right col -->
    <div class="govuk-grid-column-one-third">

        <aside class="app-related-items" role="complementary">
            <h2 class="govuk-heading-m" id="subsection-title">
                Tools and services
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="https://submitlearnerdatabeta.fasst.org.uk/">
                            Submit learner data
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="https://hub.fasst.org.uk/Pages/default.aspx">
                            Hub
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="https://console.apprenticeships.education.gov.uk/">
                            Support Console
                        </a>
                    </li>
                </ul>
            </nav>

            <h2 class="govuk-heading-m" id="subsection-title">
                Related content
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/how-to-fix-apprenticeship-service-data-mismatches/how-to-fix-apprenticeship-service-data-mismatches">
                            How to fix apprenticeship service data mismatches
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="https://www.gov.uk/guidance/apprenticeship-funding-rules">
                            Funding rules
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" target="_blank" href="https://www.gov.uk/government/publications/ilr-guides-and-templates-for-2019-to-2020">
                            Provider Support Manual
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>


    </div>
    <!-- END right col -->



</div>

<div class="govuk-grid-row dunlocker">
    <div class="govuk-grid-column-full">


        <h2 class="govuk-heading-l govuk-!-margin-top-7">Active Data Locks</h2>


        <div class="timeline govuk-!-margin-top-7">

            <div class="funding-year">
                <h2 class="govuk-heading-m">2020 - 2021 funding year</h2>

                <div class="returns">

                    @foreach (var period in Model.NewCollectionPeriods)
                    {

                        <div class="entry">
                            <div class="rnumb govuk-heading-m">@period.Period</div>
                            <div class="rcontent">

                                <details class="govuk-details flag" data-module="govuk-details">
                                    <summary class="govuk-details__summary">
                                        <span class="govuk-details__summary-text" style="color: #d4351c;">
                                            View data mismatches
                                        </span>
                                    </summary>
                                    <div class="">


                                        <table class="govuk-table govuk-!-margin-top-7">
                                            <thead class="govuk-table__head">
                                                <tr class="govuk-table__row">

                                                    <th scope="col" class="govuk-table__header"></th>
                                                    <th scope="col" class="govuk-table__header">Apprenticeship Service</th>
                                                    <th scope="col" class="govuk-table__header">ILR submission</th>
                                                    <th scope="col" class="govuk-table__header">Data lock</th>
                                                </tr>
                                            </thead>
                                            <tbody class="govuk-table__body">

                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("UKPRN", Domain.DataLock.Dlock01, period, x => x.Ukprn));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("ULN", Domain.DataLock.Dlock02, period, x => x.Uln));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Standard code", Domain.DataLock.Dlock03, period, x => x.Standard));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Framework code", Domain.DataLock.Dlock04, period, x => x.Framework));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Program type", Domain.DataLock.Dlock05, period, x => x.Program));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Pathway code", Domain.DataLock.Dlock06, period, x => x.Pathway));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Cost", Domain.DataLock.Dlock07, period, x => x.Cost));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Start date", Domain.DataLock.Dlock09, period, x => x.PriceStart));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Pause date", Domain.DataLock.Dlock12, period, x => x.PausedOn));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Stop date", Domain.DataLock.Dlock10, period, x => x.StoppedOn));
                                                
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Planned completion date", period, x => x.PlannedCompletion));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("Completion status", period, x => x.CompletionStatus));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("TNP 1", period, x => x.Tnp1));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("TNP 2", period, x => x.Tnp2));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("TNP 3", period, x => x.Tnp3));
                                                @await Html.PartialAsync("_DataLockRow", new DataLockRowModel("TNP 4", period, x => x.Tnp4));


                                                <tr class="govuk-table__row">
                                                    <th scope="row" class="govuk-table__header">No. of View submission details per return</th>
                                                    <td class="govuk-table__cell">2</td>
                                                    <td class="govuk-table__cell">2</td>
                                                    <td class="govuk-table__cell">-</td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </details>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


